:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#cy {
	width: 500px;
	height: 600px;
	display: block;
	border: 1px solid rgb(123, 123, 123);
	border: 1px solid #2323ff;
}
